* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  max-width: 100%;
  height: auto;
}

#intention {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;  
}

.pray{
  text-align: justify;
}

.qr-img {
  width: 250px;
  height: auto;
}