@media print {
  /* All your print styles go here */
  header,
  #footer,
  #nav {
    display: none !important;
  }

  .print-setting {
    font-size: 7mm; 
    max-width: 190mm;
    width: 100%;
    padding: 10mm;
    margin: 0 auto;
  }

  .print-setting_large-font {
    font-size: 10mm;
  }
}