html{
  font-size: 10px;
}

body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.container{
  max-width: 170mm; /*400px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 10mm;
}

.stand-header{
  padding: 20px;
}

h1 {
  text-align: center; 
  color: gold";
}

ul {
  list-style: none;
  padding: 0;
}

li:not(:first-child) {
  margin-top: 5mm;
}

.hide-el{
  display: none;
}

.pray__text{
  margin: 20px 0;
}

.pray__text{
  counter-reset: poemNo 2;
}

.poem {
  counter-increment: poemNo;
}

.poem::before {
  content: counter(poemNo);
  padding-left: 5mm;
}




